In [3]:
import plotly.plotly as py
import pandas as pd

In [4]:
tweets_may = pd.read_csv("../dataset/01_may/marawi_tweets_05_24.csv", parse_dates=True,header=None)

In [6]:
tweets_may.head()

,0,1,2,3,4,5,6,7,8,9,10
0,konkonmgt,2017-05-24 10:22,isis destroying marawi city the muslims area i...,"(['Republic of the Philippines'], Location((12...",en,0.415234,0.003960,0.325517,0.206539,0.440154,"['disgust', 0.440154]"
1,raefication,2017-05-24 23:59,terrorists in full throttle pray for jakarta n...,"(['Philippines'], Location((12.7503486, 122.73...",en,0.100389,0.012625,0.372965,0.622908,0.211320,"['fear', 0.622908]"
2,HiImHappie,2017-05-24 23:59,funny i am not blaming those who are actually ...,"(['Philippines'], Location((12.7503486, 122.73...",en,0.477690,0.057940,0.369917,0.050796,0.384412,"['anger', 0.47769]"
3,yanaxxi,2017-05-24 23:58,so sad that this happened prayformanchester al...,"(['Philippines'], Location((12.7503486, 122.73...",en,0.037899,0.005117,0.683503,0.487475,0.069166,"['sadness', 0.683503]"
4,tineChris9403,2017-05-24 23:58,this is not about dutertardsyellowtards or eve...,"(['National Capital Region', ' Republic of the...",en,0.132141,0.006395,0.721193,0.109344,0.353529,"['sadness', 0.721193]"

In [ ]:
df[1] = df['airport'] + '' + df['city'] + ', ' + df['state'] + '' + 'Arrivals: ' + df['cnt'].astype(str)